trunk/wsc17/java/src/com/sforce/async/AsyncApi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.force.com/2009/06/asyncapi/dataload"
        xmlns:tns="http://www.force.com/2009/06/asyncapi/dataload"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <element name="jobInfo" type="tns:JobInfo"/>
    <element name="batchInfo" type="tns:BatchInfo"/>
    <element name="error" type="tns:Error"/>
    <element name="results" type="tns:BatchResult"/>

    <complexType name="Error">
        <sequence>
            <element name="exceptionCode" type="string"/>
            <element name="exceptionMessage" type="string"/>
        </sequence>
    </complexType>

    <complexType name="JobInfo">
    	<sequence>
    		<element name="id" type="string" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					Global unique ID. Present in all GET
    					representations. Not allowed when creating new
    					job
    				</documentation>
    			</annotation>

    		</element>
            <!--
    		<element name="uri" type="anyURI" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					URI for this job, typically looking like
    					someBaseURI/jobId. Present in all GET
    					representations. Ignored when creating new
    					job
    				</documentation>
    			</annotation>
    		</element>
    		-->
    		<element name="operation" type="tns:OperationEnum"
    			minOccurs="0" maxOccurs="1">

    			<annotation>
    				<documentation>
    					The processing operation that will be executed
    					for the data set. This is currently constrained
    					by an enum to the insert, upsert and update API
    					operations but in the future may be more
    					open-ended, e.g. the name of an Apex class.
    					Present in all GET representations of a job
    					Required when creating new job.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="object" type="string" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>

    					This is the name of the object type for the data
    					being processed. All data must be of a single
    					object type. Present in all GET representations
    					of a job. Required when creating new job.
    				</documentation>
    			</annotation>
    		</element>
   		<element name="createdById" type="string" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					The GUID of the user creating the job. All
    					batches must be created by the same user as this
    					user. Present in all GET representations of a
    					job. Ignored when creating new job
    				</documentation>
    			</annotation>
    		</element>

            <!--
            <element name="abortedBy" type="string" minOccurs="0" maxOccurs="1">

    			<annotation>
    				<documentation>
    					The GUID of the user who aborted this job. Only
    					present in GET representations when state is
    					Aborted. Ignored when creating new job.
    				</documentation>
    			</annotation></element>
    			-->
            <element name="createdDate" type="dateTime" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					Date and time of job creation as determined by
    					server in UTC. Present in all GET
    					representations. Ignored when creating new
    					job.
    				</documentation>

    			</annotation>
    		</element>

    		<element name="systemModstamp" type="dateTime" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					Date and time when job ended, either in
    					Completed or Failed state. Present in all GET
    					representations when state is Completed or
    					Failed. Ignored when creating new job.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="state" type="tns:JobStateEnum" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					Present in all GET representations. Ignored
    					when creating new job. Possible States:

    					Open: The job is "open" and new batches can be
    					added to the job. Batches already in the job are
    					being processed.

    					Closed: The job is "closed" meaning that new
    					batches can no longer be added to the job.
    					Batches in the job is still being processed.
    					Completed: The job has completed and all batches
    					have been processed. Some batches may have
    					failed which will be indicated in the BatchInfo
    					for the batch.

    					Aborted: The job has been aborted by a user. The
    					endTime element will indicate the time of
    					abortion. The abortedBy element will indicate
    					the user who aborted the job. A user must have
    					the async API profile perm or have created the
    					job to abort it.

    					Failed: The job has failed for some reason. Some
    					batches may have been processed and they cannot
    					be rolled back. The BatchInfo list will contain
    					infos for all batches and results can be
    					retrieved for completed batches. The results
    					will indicated which records have been
    					processed.
    				</documentation>
    			</annotation>
    		</element>

            <element name="externalIdFieldName" minOccurs="0" maxOccurs="1"
                     type="string">
            </element>

            <element name="concurrencyMode" minOccurs="0" maxOccurs="1"
    			type="tns:ConcurrencyModeEnum">
    			<annotation>
    				<documentation>
    					Concurrency mode for this job. Default is
    					parallel. Present in all GET representations of
    					a job. Optional when creating new job. E.g. if
    					the user wants to force the job to be processed
    					serially, concurrencyMode should be set to
    					serial when creating the job.
    				</documentation>
    			</annotation>
    		</element>
            <element name="contentType" minOccurs="0" maxOccurs="1"
    			type="tns:ContentType">
    			<annotation>
    				<documentation>
    				</documentation>
    			</annotation>
    		</element>

            <!--
    		<element name="stateMessage" type="string" minOccurs="0"
    			maxOccurs="1">
    			<annotation>

    				<documentation>
    					This message may appear in jobs when further
    					detail about the state is available. For
    					example, if State is Failed, this element will
    					contain the reason for the failure. Ignored when
    					creating new job.
    				</documentation>
    			</annotation>
    		</element>
    		-->
    		<element name="numberBatchesQueued" type="int"
    			minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Number of batches that are queued.
    					Present in all GET representations. Ignored
    					when creating new job.
    				</documentation>

    			</annotation>
    		</element>
    		<element name="numberBatchesInProgress" type="int"
    			minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Number of batches that are in progress.
    					Present in all GET representations. Ignored
    					when creating new job.
    				</documentation>

    			</annotation>
    		</element>
    		<element name="numberBatchesCompleted" type="int"
    			minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Number of batches that have been completed.
    					Present in all GET representations. Ignored
    					when creating new job.
    				</documentation>

    			</annotation>
    		</element>
    		<element name="numberBatchesFailed" type="int" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					Number of batches that failed when processed.
    					Present in all GET representations. Ignored
    					when creating new job.
    				</documentation>
    			</annotation>
    		</element>

    		<element name="numberBatchesTotal" type="int" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					Number of total batches currently in the job.
    					This number will increase as more batches are
    					added to the job. Only when State is Closed,
    					Completed or Failed does this number represent
    					the final total. Present in all GET
    					representations. Ignored when creating new
    					job.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="numberRecordsProcessed" type="int"
    			minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Number of records processed so far. This number
    					increases as more batches are processed. Only
    					when state is Completed or Failed does this
    					number represent the final total. Present in all
    					GET representations of a job. Ignored when
    					creating new job
    				</documentation>
    			</annotation>
    		</element>
    		<element name="numberRetries" type="int" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					This is the number of save operations that was
    					retried due to some problem such as lock
    					contention. This element may not be exposed to
    					end users.
    				</documentation>

    			</annotation>
    		</element>
            <element name="apiVersion" type="string" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
                        Api Version
    				</documentation>
    			</annotation>
    		</element>

            <element name="assignmentRuleId" type="string" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
                        Assignment Rule Id
    				</documentation>
    			</annotation>
    		</element>

    		<!--
    		<element name="batchInfoUri" type="anyURI" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					URI for the resource containing a list of batch
    					infos for all batches in job (See BatchInfoList
    					type). Present in all GET representations of a
    					job. Ignored when creating new job
    				</documentation>
    			</annotation>
    		</element>

    		<element name="newBatchUri" type="anyURI" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					URI to be used when POSTing a new batch,
    					typically this will be jobURI/batch. Present
    					in all GET representations of a job. Ignored
    					when creating new job.
    				</documentation>
    			</annotation>
    		</element>
    		-->
        </sequence>
    </complexType>

    <simpleType name="OperationEnum">
    	<restriction base="string">
    		<enumeration value="insert"/>
    		<enumeration value="upsert"/>
    		<enumeration value="update"/>
    	</restriction>
    </simpleType>

    <simpleType name="JobStateEnum">

        <annotation>
        	<documentation>
        		See state element on Job for documentation
        	</documentation>
        </annotation>
        <restriction base="string">
    		<enumeration value="Open"/>
    		<enumeration value="Closed"/>
    		<enumeration value="Aborted"/>
    		<enumeration value="Failed"/>
    	</restriction>
    </simpleType>

    <complexType name="BatchInfo">
    	<sequence>
    		<element name="id" type="string" minOccurs="1">
    			<annotation>

    				<documentation>
    					The ID of the batch. This may be a GUID, but
    					does not have to be.
    				</documentation>
    			</annotation>
    		</element>
            <!--
    		<element name="uri" type="anyURI" minOccurs="1"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					The URI for this batch info resource, typically
    					something like baseURI/[jobId]/batch/[batchId]
    				</documentation>

    			</annotation>
    		</element>
    		-->
    		<element name="jobId" type="string" minOccurs="1"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					The GUID of the job this batch belongs to
    				</documentation>
    			</annotation>
    		</element>

            <!--
    		<element name="jobUri" type="anyURI" minOccurs="1"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					The URI of the job resource for the job this
    					batch belongs to
    				</documentation>
    			</annotation>
    		</element>
    		-->
    		<element name="state" type="tns:BatchStateEnum"
    			minOccurs="1" maxOccurs="1">
    			<annotation>

    				<documentation>
    					State of this batch. A batch can be in the
    					following states:

    					Queued: The processing of this batch has not
    					started yet. If a job is aborted, this batch
    					will not be processed and its state will be set
    					to 'Not Processed'

    					In Progress: This batch is currently being
    					processed. If the job is aborted, this batch
    					will process to completion

    					Completed: This batch has been processed
    					completely and the result resource is available.
    					The result resource will indicate if some
    					records have failed. A batch can be in completed
    					state even if some records have failed.

    					Failed: This batch failed to process. The
    					stateMessage element may contain more details
    					about the failure. TODO: Did some records get
    					committed?

    					Not Processed: This batch was not processed and
    					will not be processed. This state happens when a
    					job was aborted while this batch was queued.
    				</documentation>
    			</annotation>
    		</element>
    		<element name="stateMessage" type="string" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					Contains detail about the state. For example, if
    					state is Failed, this will contain the reason.
    				</documentation>

    			</annotation>
    		</element>

            <!--
    		<element name="resultUri" type="anyURI" minOccurs="0">
    			<annotation>
    				<documentation>
    					This is the URI for the result set which can be
    					retrieved with a GET call. Typically will look
    					like baseURI/[jobId]/batch/[batchId]/result
    				</documentation>
    			</annotation>
    		</element>
    		-->

    		<element name="createdDate" type="dateTime" minOccurs="1"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					Time this batch was created. This is not the
    					time processing began, but the time the batch
    					was added to the job.
    				</documentation>
    			</annotation>
    		</element>
            <!--
    		<element name="startDate" type="dateTime" minOccurs="0"
    			maxOccurs="1">
    			<annotation>

    				<documentation>
    					The time processing started on this batch, i.e.
    					when it was dequeued. This value is not present
    					when state is Queued
    				</documentation>
    			</annotation>
    		</element>
    		-->
    		<element name="systemModstamp" type="dateTime" minOccurs="0"
    			maxOccurs="1">
    			<annotation>
    				<documentation>
    					The time processing ended. Only valid when state
    					is Completed
    				</documentation>

    			</annotation>
    		</element>
    		<element name="numberRecordsProcessed" type="int"
    			minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>
    					The number of records processed so far in this
    					batch. Only when state is Completed or Failed
    					does this represent the total number of records
    					processed for the batch.
    				</documentation>
    			</annotation>
    		</element>

            <!--
    		<element name="numberErrors" type="int" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Number of records that had errors. This number
    					will be updated during processing.
    				</documentation>
    			</annotation></element>
    			-->
    	</sequence>
    </complexType>

    <simpleType name="BatchStateEnum">

    	<restriction base="string">
    		<enumeration value="Queued"/>
    		<enumeration value="InProgress"/>
    		<enumeration value="Completed"/>
    		<!--<enumeration value="Completed with Errors"/>-->
    		<enumeration value="Failed"/>
    		<enumeration value="NotProcessed"/>
    	</restriction>
    </simpleType>

    <complexType name="BatchInfoList">
    	<sequence>
    		<element name="batchInfo" type="tns:BatchInfo" minOccurs="0" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>

    <simpleType name="ConcurrencyModeEnum">
    	<restriction base="string">
            <enumeration value="Parallel"/>
            <enumeration value="Serial"/>
    	</restriction>
    </simpleType>


    <simpleType name="ContentType">
    	<restriction base="string">
            <enumeration value="XML"/>
            <enumeration value="CSV"/>
    	</restriction>
    </simpleType>
    <complexType name="BatchResult">
        <sequence>
            <element name="result" type="tns:SaveResult" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="SaveResult">
        <sequence>
            <element name="errors" type="tns:SaveResultError" minOccurs="0" maxOccurs="unbounded"/>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="success" type="boolean" minOccurs="1" maxOccurs="1"/>
            <element name="created" type="boolean" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="SaveResultError">
        <sequence>
            <element name="fields"     type="string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <element name="message"    type="string"/>
            <element name="statusCode" type="tns:StatusCode"/>
        </sequence>
    </complexType>

    <simpleType name="StatusCode">
        <restriction base="string">
            <enumeration value="ALREADY_IN_PROCESS"/>
            <enumeration value="ASSIGNEE_TYPE_REQUIRED"/>
            <enumeration value="BAD_CUSTOM_ENTITY_PARENT_DOMAIN"/>
            <enumeration value="BCC_NOT_ALLOWED_IF_BCC_COMPLIANCE_ENABLED"/>
            <enumeration value="CANNOT_CASCADE_PRODUCT_ACTIVE"/>
            <enumeration value="CANNOT_CHANGE_FIELD_TYPE_OF_APEX_REFERENCED_FIELD"/>
            <enumeration value="CANNOT_CREATE_ANOTHER_MANAGED_PACKAGE"/>
            <enumeration value="CANNOT_DEACTIVATE_DIVISION"/>
            <enumeration value="CANNOT_DELETE_LAST_DATED_CONVERSION_RATE"/>
            <enumeration value="CANNOT_DELETE_MANAGED_OBJECT"/>
            <enumeration value="CANNOT_DISABLE_LAST_ADMIN"/>
            <enumeration value="CANNOT_ENABLE_IP_RESTRICT_REQUESTS"/>
            <enumeration value="CANNOT_INSERT_UPDATE_ACTIVATE_ENTITY"/>
            <enumeration value="CANNOT_MODIFY_MANAGED_OBJECT"/>
            <enumeration value="CANNOT_RENAME_APEX_REFERENCED_FIELD"/>
            <enumeration value="CANNOT_RENAME_APEX_REFERENCED_OBJECT"/>
            <enumeration value="CANNOT_REPARENT_RECORD"/>
            <enumeration value="CANNOT_UPDATE_CONVERTED_LEAD"/>
            <enumeration value="CANT_DISABLE_CORP_CURRENCY"/>
            <enumeration value="CANT_UNSET_CORP_CURRENCY"/>
            <enumeration value="CHILD_SHARE_FAILS_PARENT"/>
            <enumeration value="CIRCULAR_DEPENDENCY"/>
            <enumeration value="CUSTOM_CLOB_FIELD_LIMIT_EXCEEDED"/>
            <enumeration value="CUSTOM_ENTITY_OR_FIELD_LIMIT"/>
            <enumeration value="CUSTOM_FIELD_INDEX_LIMIT_EXCEEDED"/>
            <enumeration value="CUSTOM_INDEX_EXISTS"/>
            <enumeration value="CUSTOM_LINK_LIMIT_EXCEEDED"/>
            <enumeration value="CUSTOM_TAB_LIMIT_EXCEEDED"/>
            <enumeration value="DELETE_FAILED"/>
            <enumeration value="DELETE_REQUIRED_ON_CASCADE"/>
            <enumeration value="DEPENDENCY_EXISTS"/>
            <enumeration value="DUPLICATE_CASE_SOLUTION"/>
            <enumeration value="DUPLICATE_COMM_NICKNAME"/>
            <enumeration value="DUPLICATE_CUSTOM_ENTITY_DEFINITION"/>
            <enumeration value="DUPLICATE_CUSTOM_TAB_MOTIF"/>
            <enumeration value="DUPLICATE_DEVELOPER_NAME"/>
            <enumeration value="DUPLICATE_EXTERNAL_ID"/>
            <enumeration value="DUPLICATE_MASTER_LABEL"/>
            <enumeration value="DUPLICATE_SENDER_DISPLAY_NAME"/>
            <enumeration value="DUPLICATE_USERNAME"/>
            <enumeration value="DUPLICATE_VALUE"/>
            <enumeration value="EMAIL_NOT_PROCESSED_DUE_TO_PRIOR_ERROR"/>
            <enumeration value="EMPTY_SCONTROL_FILE_NAME"/>
            <enumeration value="ENTITY_FAILED_IFLASTMODIFIED_ON_UPDATE"/>
            <enumeration value="ENTITY_IS_ARCHIVED"/>
            <enumeration value="ENTITY_IS_DELETED"/>
            <enumeration value="ENTITY_IS_LOCKED"/>
            <enumeration value="ERROR_IN_MAILER"/>
            <enumeration value="FAILED_ACTIVATION"/>
            <enumeration value="FIELD_CUSTOM_VALIDATION_EXCEPTION"/>
            <enumeration value="FIELD_INTEGRITY_EXCEPTION"/>
            <enumeration value="HTML_FILE_UPLOAD_NOT_ALLOWED"/>
            <enumeration value="IMAGE_TOO_LARGE"/>
            <enumeration value="INACTIVE_OWNER_OR_USER"/>
            <enumeration value="INSUFFICIENT_ACCESS_ON_CROSS_REFERENCE_ENTITY"/>
            <enumeration value="INSUFFICIENT_ACCESS_OR_READONLY"/>
            <enumeration value="INVALID_ACCESS_LEVEL"/>
            <enumeration value="INVALID_ARGUMENT_TYPE"/>
            <enumeration value="INVALID_ASSIGNEE_TYPE"/>
            <enumeration value="INVALID_ASSIGNMENT_RULE"/>
            <enumeration value="INVALID_BATCH_OPERATION"/>
            <enumeration value="INVALID_CREDIT_CARD_INFO"/>
            <enumeration value="INVALID_CROSS_REFERENCE_KEY"/>
            <enumeration value="INVALID_CROSS_REFERENCE_TYPE_FOR_FIELD"/>
            <enumeration value="INVALID_CURRENCY_CONV_RATE"/>
            <enumeration value="INVALID_CURRENCY_CORP_RATE"/>
            <enumeration value="INVALID_CURRENCY_ISO"/>
            <enumeration value="INVALID_EMAIL_ADDRESS"/>
            <enumeration value="INVALID_EMPTY_KEY_OWNER"/>
            <enumeration value="INVALID_FIELD"/>
            <enumeration value="INVALID_FIELD_FOR_INSERT_UPDATE"/>
            <enumeration value="INVALID_FIELD_WHEN_USING_TEMPLATE"/>
            <enumeration value="INVALID_FILTER_ACTION"/>
            <enumeration value="INVALID_GOOGLE_DOCS_URL"/>
            <enumeration value="INVALID_ID_FIELD"/>
            <enumeration value="INVALID_INET_ADDRESS"/>
            <enumeration value="INVALID_LINEITEM_CLONE_STATE"/>
            <enumeration value="INVALID_MASTER_OR_TRANSLATED_SOLUTION"/>
            <enumeration value="INVALID_OPERATION"/>
            <enumeration value="INVALID_OPERATOR"/>
            <enumeration value="INVALID_OR_NULL_FOR_RESTRICTED_PICKLIST"/>
            <enumeration value="INVALID_PARTNER_NETWORK_STATUS"/>
            <enumeration value="INVALID_PERSON_ACCOUNT_OPERATION"/>
            <enumeration value="INVALID_SAVE_AS_ACTIVITY_FLAG"/>
            <enumeration value="INVALID_SESSION_ID"/>
            <enumeration value="INVALID_SETUP_OWNER"/>
            <enumeration value="INVALID_STATUS"/>
            <enumeration value="INVALID_TYPE"/>
            <enumeration value="INVALID_TYPE_FOR_OPERATION"/>
            <enumeration value="INVALID_TYPE_ON_FIELD_IN_RECORD"/>
            <enumeration value="IP_RANGE_LIMIT_EXCEEDED"/>
            <enumeration value="LICENSE_LIMIT_EXCEEDED"/>
            <enumeration value="LIMIT_EXCEEDED"/>
            <enumeration value="MALFORMED_ID"/>
            <enumeration value="MANAGER_NOT_DEFINED"/>
            <enumeration value="MASSMAIL_RETRY_LIMIT_EXCEEDED"/>
            <enumeration value="MASS_MAIL_LIMIT_EXCEEDED"/>
            <enumeration value="MAXIMUM_CCEMAILS_EXCEEDED"/>
            <enumeration value="MAXIMUM_DASHBOARD_COMPONENTS_EXCEEDED"/>
            <enumeration value="MAXIMUM_HIERARCHY_LEVELS_REACHED"/>
            <enumeration value="MAXIMUM_SIZE_OF_ATTACHMENT"/>
            <enumeration value="MAXIMUM_SIZE_OF_DOCUMENT"/>
            <enumeration value="MAX_ACTIONS_PER_RULE_EXCEEDED"/>
            <enumeration value="MAX_ACTIVE_RULES_EXCEEDED"/>
            <enumeration value="MAX_APPROVAL_STEPS_EXCEEDED"/>
            <enumeration value="MAX_FORMULAS_PER_RULE_EXCEEDED"/>
            <enumeration value="MAX_RULES_EXCEEDED"/>
            <enumeration value="MAX_RULE_ENTRIES_EXCEEDED"/>
            <enumeration value="MAX_TASK_DESCRIPTION_EXCEEEDED"/>
            <enumeration value="MAX_TM_RULES_EXCEEDED"/>
            <enumeration value="MAX_TM_RULE_ITEMS_EXCEEDED"/>
            <enumeration value="MERGE_FAILED"/>
            <enumeration value="MISSING_ARGUMENT"/>
            <enumeration value="MIXED_DML_OPERATION"/>
            <enumeration value="NONUNIQUE_SHIPPING_ADDRESS"/>
            <enumeration value="NO_APPLICABLE_PROCESS"/>
            <enumeration value="NO_ATTACHMENT_PERMISSION"/>
            <enumeration value="NO_INACTIVE_DIVISION_MEMBERS"/>
            <enumeration value="NO_MASS_MAIL_PERMISSION"/>
            <enumeration value="NUMBER_OUTSIDE_VALID_RANGE"/>
            <enumeration value="NUM_HISTORY_FIELDS_BY_SOBJECT_EXCEEDED"/>
            <enumeration value="OPTED_OUT_OF_MASS_MAIL"/>
            <enumeration value="PACKAGE_LICENSE_REQUIRED"/>
            <enumeration value="PORTAL_USER_ALREADY_EXISTS_FOR_CONTACT"/>
            <enumeration value="PRIVATE_CONTACT_ON_ASSET"/>
            <enumeration value="RECORD_IN_USE_BY_WORKFLOW"/>
            <enumeration value="REQUEST_RUNNING_TOO_LONG"/>
            <enumeration value="REQUIRED_FIELD_MISSING"/>
            <enumeration value="SELF_REFERENCE_FROM_TRIGGER"/>
            <enumeration value="SHARE_NEEDED_FOR_CHILD_OWNER"/>
            <enumeration value="STANDARD_PRICE_NOT_DEFINED"/>
            <enumeration value="STORAGE_LIMIT_EXCEEDED"/>
            <enumeration value="STRING_TOO_LONG"/>
            <enumeration value="TABSET_LIMIT_EXCEEDED"/>
            <enumeration value="TEMPLATE_NOT_ACTIVE"/>
            <enumeration value="TERRITORY_REALIGN_IN_PROGRESS"/>
            <enumeration value="TEXT_DATA_OUTSIDE_SUPPORTED_CHARSET"/>
            <enumeration value="TOO_MANY_APEX_REQUESTS"/>
            <enumeration value="TOO_MANY_ENUM_VALUE"/>
            <enumeration value="TRANSFER_REQUIRES_READ"/>
            <enumeration value="UNABLE_TO_LOCK_ROW"/>
            <enumeration value="UNAVAILABLE_RECORDTYPE_EXCEPTION"/>
            <enumeration value="UNDELETE_FAILED"/>
            <enumeration value="UNKNOWN_EXCEPTION"/>
            <enumeration value="UNSPECIFIED_EMAIL_ADDRESS"/>
            <enumeration value="UNSUPPORTED_APEX_TRIGGER_OPERATON"/>
            <enumeration value="UNVERIFIED_SENDER_ADDRESS"/>
            <enumeration value="WEBLINK_SIZE_LIMIT_EXCEEDED"/>
            <enumeration value="WRONG_CONTROLLER_TYPE"/>
        </restriction>
    </simpleType>

</schema>
