trunk/test/wsdl/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://adwords.google.com/api/adwords/v7" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://adwords.google.com/api/adwords/v7" xmlns:intf="https://adwords.google.com/api/adwords/v7" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC1
Built on Nov 04, 2004 (05:00:02 PST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="https://adwords.google.com/api/adwords/v7" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="email">
      <simpleType>
        <restriction base="xsd:string"/>
      </simpleType>
    </element>
    
    <element name="password">
      <simpleType>
        <restriction base="xsd:string"/>
      </simpleType>
    </element>
    
    <element name="useragent">
      <simpleType>
        <restriction base="xsd:string"/>
      </simpleType>
    </element>
    
    <element name="token">
      <simpleType>
        <restriction base="xsd:string"/>
      </simpleType>
    </element>
    <element name="applicationToken">
      <simpleType>
        <restriction base="xsd:string"/>
      </simpleType>
    </element>
    <element name="developerToken">
      <simpleType>
        <restriction base="xsd:string"/>
      </simpleType>
    </element>
    <element name="clientEmail">
      <simpleType>
        <restriction base="xsd:string"/>
      </simpleType>
    </element>
    <element name="clientCustomerId">
      <simpleType>
        <restriction base="xsd:string"/>
      </simpleType>
    </element>
    <element name="responseTime">
      <simpleType>
        <restriction base="xsd:long"/>
      </simpleType>
    </element>
    <element name="operations">
      <simpleType>
        <restriction base="xsd:long"/>
      </simpleType>
    </element>
    <element name="units">
      <simpleType>
        <restriction base="xsd:long"/>
      </simpleType>
    </element>
    <element name="requestId">
      <simpleType>
        <restriction base="xsd:string"/>
      </simpleType>
    </element>

    <!-- CreditCardType enum -->
    <simpleType name="CreditCardType">
      <restriction base="string">
        <enumeration value="VISA"/>
        <enumeration value="MasterCard"/>
        <enumeration value="AmericanExpress"/>
        <enumeration value="JCB"/>
        <enumeration value="Switch"/>
        <enumeration value="SOLO"/>
      </restriction>
    </simpleType>

    <!-- TaxStatus enum -->
    <simpleType name="TaxStatus">
      <restriction base="string">
        <enumeration value="SubjectToTax"/>
        <enumeration value="Charity"/>
        <enumeration value="ExtraTerritorial"/>
        <enumeration value="ZeroRated"/>
        <enumeration value="Other"/>
      </restriction>
    </simpleType>

   <element name="createAdWordsAccount">
    <complexType>
     <sequence>
      <element name="loginEmail" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="languagePreference" type="xsd:string"/>
      <element name="emailPrefs" type="impl:EmailPromotionsPreferences"/>
      <element name="currencyCode" type="xsd:string"/>
      <element name="cardInfo" type="impl:CreditCard"/>
      <element name="contactInfo" type="impl:Address"/>
      <element name="defaultAdsCoverage" type="impl:CoverageType"/>
      <element name="timeZoneId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>

   <complexType name="EmailPromotionsPreferences">
    <sequence>
     <element name="marketResearchEnabled" type="xsd:boolean"/>
     <element name="newsletterEnabled" type="xsd:boolean"/>
     <element name="promotionsEnabled" type="xsd:boolean"/>
    </sequence>
   </complexType>
   
   <complexType name="CreditCard">
    <sequence>
     <element name="cardNumber" type="xsd:string"/>
     <element name="cardType" type="impl:CreditCardType"/>
     <element name="cardVerificationNumber" nillable="true" type="xsd:string"/>
     <element name="expirationMonth" type="xsd:int"/>
     <element name="expirationYear" type="xsd:int"/>
     <element name="issueNumber" nillable="true" type="xsd:string"/>
     <element name="startMonth" type="xsd:int"/>
     <element name="startYear" type="xsd:int"/>
     <element name="status" nillable="true" type="impl:TaxStatus"/>
     <element name="taxNumber" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="Address">
    <sequence>
     <element name="addressLine1" type="xsd:string"/>
     <element name="addressLine2" nillable="true" type="xsd:string"/>
     <element name="city" type="xsd:string"/>
     <element name="companyName" type="xsd:string"/>
     <element name="countryCode" type="xsd:string"/>
     <element name="faxNumber" nillable="true" type="xsd:string"/>
     <element name="name" type="xsd:string"/>
     <element name="phoneNumber" type="xsd:string"/>
     <element name="postalCode" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="emailAddress" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="CoverageType">
    <sequence>
     <element name="optInContentNetwork" type="xsd:boolean"/>
     <element name="optInSearchNetwork" type="xsd:boolean"/>
    </sequence>
   </complexType>

   <complexType name="AccountInfo">
     <sequence>
       <element name="currencyCode" nillable="true" type="xsd:string"/>
       <element name="billingAddress" nillable="true" type="impl:Address"/>
       <element name="primaryAddress" nillable="true" type="impl:Address"/>
       <element name="emailPromotionsPreferences" nillable="true" type="impl:EmailPromotionsPreferences"/>
       <element name="languagePreference" nillable="true" type="xsd:string"/>
       <element name="timeZoneId" nillable="true" type="xsd:string"/>
       <element name="timeZoneEffectiveDate" nillable="true" type="xsd:long"/>
       <element name="customerId" nillable="true" type="xsd:long"/>
       <element name="descriptiveName" nillable="true" type="xsd:string"/>
       <element name="termsAndConditions" nillable="true" type="xsd:string"/>
       <element name="primaryBusinessCategory" nillable="true" type="xsd:string"/>
       <element name="defaultAdsCoverage" nillable="true" type="impl:CoverageType"/>
     </sequence>
   </complexType>
   
   <element name="createAdWordsAccountResponse">
    <complexType/>
   </element>

   <complexType name="ApiException">
    <sequence>
     <element name="code" type="xsd:int"/>
     <element name="internal" type="xsd:boolean"/>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="trigger" nillable="true" type="xsd:string"/>
     <element name="errors" nillable="true" maxOccurs="unbounded" type="impl:ApiError"/>
    </sequence>
   </complexType>

  <complexType name="ApiError">
    <sequence>
      <element name="index" type="xsd:int"/>
      <element name="field" type="xsd:string" minOccurs="0" />
      <element name="textIndex" type="xsd:int" minOccurs="0" />
      <element name="textLength" type="xsd:int" minOccurs="0" />
      <element name="trigger" type="xsd:string" minOccurs="0" />
      <element name="code" type="xsd:int"/>
      <element name="isExemptable" type="xsd:boolean"/>
      <element name="detail" type="xsd:string"/>
    </sequence>
  </complexType>

   <element name="fault" type="impl:ApiException"/>

   <element name="setLoginInfo">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="newPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   
   <element name="setLoginInfoResponse">
    <complexType/>
   </element>

   <element name="getCreditCard">
    <complexType/>
   </element>

   <element name="getCreditCardResponse">
    <complexType>
     <sequence>
      <element name="getCreditCardReturn" type="impl:CreditCard"/>
     </sequence>
    </complexType>
   </element>

   <element name="getClientAccounts">
     <complexType/>
   </element>

   <element name="getClientAccountsResponse">
     <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getClientAccountsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>

   <element name="getAccountInfo">
     <complexType/>
   </element>
   
   <element name="getAccountInfoResponse">
    <complexType>
     <sequence>
      <element name="getAccountInfoReturn" type="impl:AccountInfo"/>
     </sequence>
    </complexType>
   </element>
   
   <element name="updateAccountInfo">
    <complexType>
     <sequence>
      <element name="accountInfo" type="impl:AccountInfo"/>
     </sequence>
    </complexType>
   </element>
   
   <element name="updateAccountInfoResponse">
     <complexType/>
   </element>

  </schema>
 </wsdl:types>
 
<wsdl:message name="token">
  <wsdl:part element="impl:token" name="token"/>
</wsdl:message>

<wsdl:message name="applicationToken">
  <wsdl:part element="impl:applicationToken" name="applicationToken"/>
</wsdl:message>

<wsdl:message name = "developerToken">
  <wsdl:part element="impl:developerToken" name="developerToken"/>
</wsdl:message>

<wsdl:message name="useragent">
  <wsdl:part element="impl:useragent" name="useragent"/>
</wsdl:message>

<wsdl:message name="password">
  <wsdl:part element="impl:password" name="password"/>
</wsdl:message>

<wsdl:message name="email">
  <wsdl:part element="impl:email" name="email"/>
</wsdl:message>

<wsdl:message name="clientEmail">
  <wsdl:part element="impl:clientEmail" name="clientEmail"/>
</wsdl:message>

<wsdl:message name="clientCustomerId">
  <wsdl:part element="impl:clientCustomerId" name="clientCustomerId"/>
</wsdl:message>
 
  <wsdl:message name="responseTime">
    <wsdl:part element="impl:responseTime" name="responseTime"/>
  </wsdl:message>
  <wsdl:message name="operations">
    <wsdl:part element="impl:operations" name="operations"/>
  </wsdl:message>
  <wsdl:message name="units">
    <wsdl:part element="impl:units" name="units"/>
  </wsdl:message>
  <wsdl:message name="requestId">
    <wsdl:part element="impl:requestId" name="requestId"/>
  </wsdl:message>
   
   <wsdl:message name="createAdWordsAccountRequest">

      <wsdl:part element="impl:createAdWordsAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCreditCardRequest">

      <wsdl:part element="impl:getCreditCard" name="parameters"/>

   </wsdl:message>

  <wsdl:message name="getClientAccountsResponse">

     <wsdl:part element="impl:getClientAccountsResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="getCreditCardResponse">

      <wsdl:part element="impl:getCreditCardResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setLoginInfoResponse">

      <wsdl:part element="impl:setLoginInfoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setLoginInfoRequest">

      <wsdl:part element="impl:setLoginInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ApiException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

  <wsdl:message name="getClientAccountsRequest">

     <wsdl:part element="impl:getClientAccounts" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="createAdWordsAccountResponse">

      <wsdl:part element="impl:createAdWordsAccountResponse" name="parameters"/>

   </wsdl:message>
   
   <wsdl:message name="getAccountInfoRequest">
     <wsdl:part element="impl:getAccountInfo" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="getAccountInfoResponse">
     <wsdl:part element="impl:getAccountInfoResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="updateAccountInfoRequest">
     <wsdl:part element="impl:updateAccountInfo" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="updateAccountInfoResponse">
     <wsdl:part element="impl:updateAccountInfoResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:portType name="AccountService">

      <wsdl:operation name="createAdWordsAccount">

         <wsdl:input message="impl:createAdWordsAccountRequest" name="createAdWordsAccountRequest"/>

         <wsdl:output message="impl:createAdWordsAccountResponse" name="createAdWordsAccountResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="setLoginInfo">

         <wsdl:input message="impl:setLoginInfoRequest" name="setLoginInfoRequest"/>

         <wsdl:output message="impl:setLoginInfoResponse" name="setLoginInfoResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="getCreditCard">

         <wsdl:input message="impl:getCreditCardRequest" name="getCreditCardRequest"/>

         <wsdl:output message="impl:getCreditCardResponse" name="getCreditCardResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="getClientAccounts">

        <wsdl:input message="impl:getClientAccountsRequest" name="getClientAccountsRequest"/>

        <wsdl:output message="impl:getClientAccountsResponse" name="getClientAccountsResponse"/>

        <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="getAccountInfo">
        <wsdl:input message="impl:getAccountInfoRequest" name="getAccountInfoRequest"/>
        <wsdl:output message="impl:getAccountInfoResponse" name="getAccountInfoResponse"/>
        <wsdl:fault message="impl:ApiException" name="ApiException"/>
      </wsdl:operation>

      <wsdl:operation name="updateAccountInfo">
        <wsdl:input message="impl:updateAccountInfoRequest" name="updateAccountInfoRequest"/>
        <wsdl:output message="impl:updateAccountInfoResponse" name="updateAccountInfoResponse"/>
        <wsdl:fault message="impl:ApiException" name="ApiException"/>
      </wsdl:operation>
      

   </wsdl:portType>

   <wsdl:binding name="AccountServiceSoapBinding" type="impl:AccountService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createAdWordsAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAdWordsAccountRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>
         
         <wsdl:output name="createAdWordsAccountResponse">

            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setLoginInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setLoginInfoRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setLoginInfoResponse">

            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCreditCard">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCreditCardRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCreditCardResponse">

            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

     <wsdl:operation name="getClientAccounts">

        <wsdlsoap:operation soapAction=""/>

        <wsdl:input name="getClientAccountsRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

           <wsdlsoap:body use="literal"/>

        </wsdl:input>

        <wsdl:output name="getClientAccountsResponse">

           <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
           <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
           <wsdlsoap:header message="impl:units" part="units" use="literal"/>
           <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
           <wsdlsoap:body use="literal"/>

        </wsdl:output>

        <wsdl:fault name="ApiException">

           <wsdlsoap:fault name="ApiException" use="literal"/>

        </wsdl:fault>

     </wsdl:operation>

      <wsdl:operation name="getAccountInfo">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="getAccountInfoRequest">
          <wsdlsoap:header message="impl:email" part="email" use="literal"/>
          <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
          <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
          <wsdlsoap:header message="impl:password" part="password" use="literal"/>
          <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
          <wsdlsoap:header message="impl:token" part="token" use="literal"/>
          <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
          <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
          <wsdlsoap:body use="literal"/>
        </wsdl:input>
        <wsdl:output name="getAccountInfoResponse">
          <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
          <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
          <wsdlsoap:header message="impl:units" part="units" use="literal"/>
          <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
          <wsdlsoap:body use="literal"/>
        </wsdl:output>
        <wsdl:fault name="ApiException">
          <wsdlsoap:fault name="ApiException" use="literal"/>
        </wsdl:fault>
      </wsdl:operation>
 
      <wsdl:operation name="updateAccountInfo">
        <wsdlsoap:operation soapAction=""/>
        <wsdl:input name="updateAccountInfoRequest">
          <wsdlsoap:header message="impl:email" part="email" use="literal"/>
          <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
          <wsdlsoap:header message="impl:password" part="password" use="literal"/>
          <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
          <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
          <wsdlsoap:header message="impl:token" part="token" use="literal"/>
          <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
          <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
          <wsdlsoap:body use="literal"/>
        </wsdl:input>
        <wsdl:output name="updateAccountInfoResponse">
          <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
          <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
          <wsdlsoap:header message="impl:units" part="units" use="literal"/>
          <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
          <wsdlsoap:body use="literal"/>
        </wsdl:output>
        <wsdl:fault name="ApiException">
          <wsdlsoap:fault name="ApiException" use="literal"/>
        </wsdl:fault>
      </wsdl:operation>      
      
     
   </wsdl:binding>

   <wsdl:service name="AccountServiceService">

      <wsdl:port binding="impl:AccountServiceSoapBinding" name="AccountService">

         <wsdlsoap:address location="https://adwords.google.com/api/adwords/v7/AccountService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
