trunk/test/wsdl/AdGroupService.wsdl

<?xml version="1.0" ?>
<wsdl:definitions targetNamespace="https://adwords.google.com/api/adwords/v7" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://adwords.google.com/api/adwords/v7" xmlns:intf="https://adwords.google.com/api/adwords/v7" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2beta
Built on Sep 16, 2004 (04:43:18 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="https://adwords.google.com/api/adwords/v7" xmlns="http://www.w3.org/2001/XMLSchema"><element name="email">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element><element name="password">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element><element name="useragent">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element><element name="token">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>
<element name="applicationToken">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>
<element name="developerToken">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>
<element name="clientEmail">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>
<element name="clientCustomerId">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>
<element name="responseTime">
  <simpleType>
    <restriction base="xsd:long"/>
  </simpleType>
</element>
<element name="operations">
  <simpleType>
    <restriction base="xsd:long"/>
  </simpleType>
</element>
<element name="units">
  <simpleType>
    <restriction base="xsd:long"/>
  </simpleType>
</element>
<element name="requestId">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>

    <complexType name="ApiException">
    <sequence>
     <element name="code" type="xsd:int"/>
     <element name="internal" type="xsd:boolean"/>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="trigger" nillable="true" type="xsd:string"/>
     <element name="errors" nillable="true" maxOccurs="unbounded" type="impl:ApiError"/>
    </sequence>
   </complexType>

    <complexType name="ApiError">
      <sequence>
        <element name="index" type="xsd:int"/>
        <element name="field" type="xsd:string" minOccurs="0" />
        <element name="textIndex" type="xsd:int" minOccurs="0" />
        <element name="textLength" type="xsd:int" minOccurs="0" />
        <element name="trigger" type="xsd:string" minOccurs="0" />
        <element name="code" type="xsd:int"/>
        <element name="isExemptable" type="xsd:boolean"/>
        <element name="detail" type="xsd:string"/>
      </sequence>
    </complexType>
    
   <element name="fault" type="impl:ApiException"/>
   <element name="getAdGroupList">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="adgroupIDs" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdGroupListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAdGroupListReturn" type="impl:AdGroup"/>
     </sequence>
    </complexType>
   </element>
   <simpleType name="AdGroupStatus">
     <restriction base="string">
       <enumeration value="Enabled"/>
       <enumeration value="Paused"/>
       <enumeration value="Deleted"/>
     </restriction>
   </simpleType>
   <complexType name="AdGroup">
    <sequence>
     <element name="campaignId" type="xsd:int"/>
     <element name="id" type="xsd:int"/>
     <element name="maxContentCpc" nillable="true" minOccurs="0" type="xsd:long"/>
     <element name="maxCpc" nillable="true" minOccurs="0" type="xsd:long"/>
     <element name="maxCpm" nillable="true" minOccurs="0" type="xsd:long"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="impl:AdGroupStatus"/>
    </sequence>
   </complexType>
   <element name="getAllAdGroups">
    <complexType>
     <sequence>
      <element name="campaignID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllAdGroupsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllAdGroupsReturn" type="impl:AdGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdGroup">
    <complexType>
     <sequence>
      <element name="adGroupId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdGroupResponse">
    <complexType>
     <sequence>
      <element name="getAdGroupReturn" type="impl:AdGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAdGroup">
    <complexType>
     <sequence>
      <element name="campaignID" type="xsd:int"/>
      <element name="newData" type="impl:AdGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAdGroupResponse">
    <complexType>
     <sequence>
      <element name="addAdGroupReturn" type="impl:AdGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAdGroupList">
    <complexType>
     <sequence>
      <element name="campaignID" type="xsd:int"/>
      <element maxOccurs="unbounded" name="newData" type="impl:AdGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAdGroupListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="addAdGroupListReturn" type="impl:AdGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateAdGroup">
    <complexType>
     <sequence>
      <element name="changedData" type="impl:AdGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateAdGroupResponse">
    <complexType/>
   </element>
   <element name="updateAdGroupList">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="changedData" type="impl:AdGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateAdGroupListResponse">
    <complexType/>
   </element>
   <element name="getAdGroupStats">
    <complexType>
     <sequence>
      <element name="campaignId" type="xsd:int"/>
      <element maxOccurs="unbounded" name="adGroupIds" type="xsd:int"/>
      <element name="startDay" type="xsd:date"/>
      <element name="endDay" type="xsd:date"/>
      <element name="inPST" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdGroupStatsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAdGroupStatsReturn" type="impl:StatsRecord"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="StatsRecord">
    <sequence>
     <element name="averagePosition" type="xsd:double"/>
     <element name="clicks" type="xsd:long"/>
     <element name="conversionRate" type="xsd:double"/>
     <element name="conversions" type="xsd:long"/>
     <element name="cost" type="xsd:long"/>
     <element name="id" type="xsd:long"/>
     <element name="impressions" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

<wsdl:message name="token">
  <wsdl:part element="impl:token" name="token"/>
</wsdl:message>
<wsdl:message name="applicationToken">
  <wsdl:part element="impl:applicationToken" name="applicationToken"/>
</wsdl:message>
<wsdl:message name="developerToken">
  <wsdl:part element="impl:developerToken" name="developerToken"/>
</wsdl:message><wsdl:message name="useragent">
  <wsdl:part element="impl:useragent" name="useragent"/>
</wsdl:message><wsdl:message name="password">
  <wsdl:part element="impl:password" name="password"/>
</wsdl:message><wsdl:message name="email">
  <wsdl:part element="impl:email" name="email"/>
</wsdl:message><wsdl:message name="responseTime">
  <wsdl:part element="impl:responseTime" name="responseTime"/>
</wsdl:message><wsdl:message name="operations">
  <wsdl:part element="impl:operations" name="operations"/>
</wsdl:message><wsdl:message name="units">
  <wsdl:part element="impl:units" name="units"/>
</wsdl:message><wsdl:message name="requestId">
  <wsdl:part element="impl:requestId" name="requestId"/>
</wsdl:message>

   <wsdl:message name="clientEmail">

      <wsdl:part element="impl:clientEmail" name="clientEmail"/>

   </wsdl:message>
   
   <wsdl:message name="clientCustomerId">

      <wsdl:part element="impl:clientCustomerId" name="clientCustomerId"/>

   </wsdl:message>

   <wsdl:message name="getAdGroupRequest">

      <wsdl:part element="impl:getAdGroup" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addAdGroupRequest">

      <wsdl:part element="impl:addAdGroup" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateAdGroupListResponse">

      <wsdl:part element="impl:updateAdGroupListResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addAdGroupListResponse">

      <wsdl:part element="impl:addAdGroupListResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAdGroupListResponse">

      <wsdl:part element="impl:getAdGroupListResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAllAdGroupsRequest">

      <wsdl:part element="impl:getAllAdGroups" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateAdGroupListRequest">

      <wsdl:part element="impl:updateAdGroupList" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAllAdGroupsResponse">

      <wsdl:part element="impl:getAllAdGroupsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateAdGroupResponse">

      <wsdl:part element="impl:updateAdGroupResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addAdGroupListRequest">

      <wsdl:part element="impl:addAdGroupList" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateAdGroupRequest">

      <wsdl:part element="impl:updateAdGroup" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAdGroupListRequest">

      <wsdl:part element="impl:getAdGroupList" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAdGroupResponse">

      <wsdl:part element="impl:getAdGroupResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ApiException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="addAdGroupResponse">

      <wsdl:part element="impl:addAdGroupResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAdGroupStatsResponse">

      <wsdl:part element="impl:getAdGroupStatsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAdGroupStatsRequest">

      <wsdl:part element="impl:getAdGroupStats" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="AdGroupService">

      <wsdl:operation name="getAdGroupList">

         <wsdl:input message="impl:getAdGroupListRequest" name="getAdGroupListRequest"/>

         <wsdl:output message="impl:getAdGroupListResponse" name="getAdGroupListResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="getAllAdGroups">

         <wsdl:input message="impl:getAllAdGroupsRequest" name="getAllAdGroupsRequest"/>

         <wsdl:output message="impl:getAllAdGroupsResponse" name="getAllAdGroupsResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="getAdGroup">

         <wsdl:input message="impl:getAdGroupRequest" name="getAdGroupRequest"/>

         <wsdl:output message="impl:getAdGroupResponse" name="getAdGroupResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="addAdGroup">

         <wsdl:input message="impl:addAdGroupRequest" name="addAdGroupRequest"/>

         <wsdl:output message="impl:addAdGroupResponse" name="addAdGroupResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="addAdGroupList">

         <wsdl:input message="impl:addAdGroupListRequest" name="addAdGroupListRequest"/>

         <wsdl:output message="impl:addAdGroupListResponse" name="addAdGroupListResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="updateAdGroup">

         <wsdl:input message="impl:updateAdGroupRequest" name="updateAdGroupRequest"/>

         <wsdl:output message="impl:updateAdGroupResponse" name="updateAdGroupResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="updateAdGroupList">

         <wsdl:input message="impl:updateAdGroupListRequest" name="updateAdGroupListRequest"/>

         <wsdl:output message="impl:updateAdGroupListResponse" name="updateAdGroupListResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="getAdGroupStats">

         <wsdl:input message="impl:getAdGroupStatsRequest" name="getAdGroupStatsRequest"/>

         <wsdl:output message="impl:getAdGroupStatsResponse" name="getAdGroupStatsResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AdGroupServiceSoapBinding" type="impl:AdGroupService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAdGroupList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdGroupListRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdGroupListResponse">

            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>         
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllAdGroups">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAdGroupsRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllAdGroupsResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>         
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdGroupRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdGroupResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>         
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addAdGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAdGroupRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="addAdGroupResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>         
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addAdGroupList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAdGroupListRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="addAdGroupListResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateAdGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateAdGroupRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateAdGroupResponse">

            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateAdGroupList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateAdGroupListRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateAdGroupListResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdGroupStats">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdGroupStatsRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdGroupStatsResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AdGroupServiceService">

      <wsdl:port binding="impl:AdGroupServiceSoapBinding" name="AdGroupService">

         <wsdlsoap:address location="https://adwords.google.com/api/adwords/v7/AdGroupService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
