trunk/test/wsdl/BarcodeReader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="http://ws.strikeiron.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:si="http://www.strikeiron.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.timross.info/services/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.timross.info/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Extracts barcodes from an image</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.timross.info/services/">
      <s:element name="GetBarcodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:BarcodeRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BarcodeRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="BarcodeType" type="tns:BarcodeType" />
          <s:element minOccurs="1" maxOccurs="1" name="IgnoreChecksum" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DeskewImage" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ReadMode" type="tns:BarcodeReadMode" />
          <s:element minOccurs="0" maxOccurs="1" name="ScanArea" type="tns:BarcodeScanArea" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BarcodeType">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Code128" />
          <s:enumeration value="EAN13" />
          <s:enumeration value="EAN8" />
          <s:enumeration value="Code39" />
          <s:enumeration value="Code93" />
          <s:enumeration value="Code11" />
          <s:enumeration value="i2of5" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="BarcodeReadMode">
        <s:restriction base="s:string">
          <s:enumeration value="Region" />
          <s:enumeration value="WholeImage" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="BarcodeScanArea">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBarcodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBarcodesResult" type="tns:ArrayOfBarcodeInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBarcodeInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BarcodeInfo" nillable="true" type="tns:BarcodeInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BarcodeInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BarcodeType" type="tns:BarcodeType" />
          <s:element minOccurs="0" maxOccurs="1" name="Checksum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChecksumValid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:BarcodeLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BarcodeLocation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com">
      <xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
      <xs:complexType name="LicenseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
          <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UnregisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
      <xs:complexType name="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="LicenseStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
          <xs:element name="LicenseActionCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
          <xs:element name="RemainingHits" type="xs:int" />
          <xs:element name="Amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetRemainingHits">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRemainingHitsResponse">
        <xs:complexType />
      </xs:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBarcodesSoapIn">
    <wsdl:part name="parameters" element="tns:GetBarcodes" />
  </wsdl:message>
  <wsdl:message name="GetBarcodesSoapOut">
    <wsdl:part name="parameters" element="tns:GetBarcodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part name="parameters" element="s1:GetRemainingHits" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part name="parameters" element="s1:GetRemainingHitsResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
    <wsdl:part name="LicenseInfo" element="s1:LicenseInfo" />
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
    <wsdl:part name="SubscriptionInfo" element="s1:SubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="BarcodeReaderSoap">
    <wsdl:operation name="GetBarcodes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Finds all barcodes in an image</wsdl:documentation>
      <wsdl:input message="tns:GetBarcodesSoapIn" />
      <wsdl:output message="tns:GetBarcodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="tns:GetRemainingHitsSoapIn" />
      <wsdl:output message="tns:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BarcodeReaderSoap" type="tns:BarcodeReaderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBarcodes">
      <soap:operation soapAction="http://www.timross.info/services/GetBarcodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://ws.strikeiron.com/TimRoss/BarcodeReader/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BarcodeReader">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Extracts barcodes from an image</wsdl:documentation>
    <wsdl:port name="BarcodeReaderSoap" binding="tns:BarcodeReaderSoap">
      <soap:address location="http://ws.strikeiron.com/TimRoss/BarcodeReader" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>