trunk/test/wsdl/CreativeService.wsdl

<?xml version="1.0" ?>
<wsdl:definitions targetNamespace="https://adwords.google.com/api/adwords/v7" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://adwords.google.com/api/adwords/v7" xmlns:intf="https://adwords.google.com/api/adwords/v7" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2beta
Built on May 10, 2004 (05:12:50 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="https://adwords.google.com/api/adwords/v7" xmlns="http://www.w3.org/2001/XMLSchema"><element name="email">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element><element name="password">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element><element name="useragent">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element><element name="token">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>
<element name="applicationToken">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>
<element name="developerToken">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>
<element name="clientEmail">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>
<element name="clientCustomerId">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>
<element name="responseTime">
  <simpleType>
    <restriction base="xsd:long"/>
  </simpleType>
</element>
<element name="operations">
  <simpleType>
    <restriction base="xsd:long"/>
  </simpleType>
</element>
<element name="units">
  <simpleType>
    <restriction base="xsd:long"/>
  </simpleType>
</element>
<element name="requestId">
  <simpleType>
    <restriction base="xsd:string"/>
  </simpleType>
</element>

   <element name="getAllCreatives">
    <complexType>
     <sequence>
      <element name="adGroupId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllCreativesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllCreativesReturn" type="impl:Creative"/>
     </sequence>
    </complexType>
   </element>
   <simpleType name="ImageType">
     <restriction base="string">
       <enumeration value="image"/>
       <enumeration value="dynamicImage"/>
       <enumeration value="flash"/>
     </restriction>
   </simpleType>  
   <complexType name="Image">
    <sequence>
     <element name="data" nillable="true" minOccurs="0" maxOccurs="1" type="xsd:base64Binary"/>
     <element name="height" nillable="true" minOccurs="0" maxOccurs="1" type="xsd:int"/>
     <element name="imageUrl" nillable="true" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="mimeType" nillable="true" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="name" nillable="false" minOccurs="1" maxOccurs="1" type="xsd:string"/>
     <element name="thumbnailUrl" nillable="true" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <element name="type" nillable="true" minOccurs="0" maxOccurs="1" type="impl:ImageType"/>
     <element name="width" nillable="true" minOccurs="0" maxOccurs="1" type="xsd:int"/>
    </sequence>
   </complexType>
   <simpleType name="AdStatus">
     <restriction base="string">
       <enumeration value="Enabled"/>
       <enumeration value="Disabled"/>
       <enumeration value="Paused"/>
     </restriction>
   </simpleType>
   <complexType name="Creative">
    <sequence>
     <element name="adGroupId" type="xsd:int"/>
     <element name="description1" nillable="true" type="xsd:string"/>
     <element name="description2" nillable="true" type="xsd:string"/>
     <element name="destinationUrl" nillable="false" type="xsd:string"/>
     <element name="disapproved" type="xsd:boolean"/>
     <element name="displayUrl" nillable="false" type="xsd:string"/>
     <element name="exemptionRequest" nillable="true" type="xsd:string"/>
     <element name="headline" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="image" nillable="true" minOccurs="0" maxOccurs="1" type="impl:Image"/>
     <element name="status" nillable="true" minOccurs="0" maxOccurs="1" type="impl:AdStatus"/>
    </sequence>
   </complexType>
   <complexType name="ApiException">
    <sequence>
     <element name="code" type="xsd:int"/>
     <element name="internal" type="xsd:boolean"/>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="trigger" nillable="true" type="xsd:string"/>
     <element name="errors" nillable="true" maxOccurs="unbounded" type="impl:ApiError"/>
    </sequence>
   </complexType>

    <complexType name="ApiError">
      <sequence>
        <element name="index" type="xsd:int"/>
        <element name="field" type="xsd:string" minOccurs="0" />
        <element name="textIndex" type="xsd:int" minOccurs="0" />
        <element name="textLength" type="xsd:int" minOccurs="0" />
        <element name="trigger" type="xsd:string" minOccurs="0" />
        <element name="code" type="xsd:int"/>
        <element name="isExemptable" type="xsd:boolean"/>
        <element name="detail" type="xsd:string"/>
      </sequence>
    </complexType>
    
   <element name="fault" type="impl:ApiException"/>
   <element name="getActiveCreatives">
    <complexType>
     <sequence>
      <element name="adGroupId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getActiveCreativesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getActiveCreativesReturn" type="impl:Creative"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCreative">
    <complexType>
     <sequence>
      <element name="adGroupId" type="xsd:int"/>
      <element name="creativeId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCreativeResponse">
    <complexType>
     <sequence>
      <element name="getCreativeReturn" type="impl:Creative"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCreative">
    <complexType>
     <sequence>
      <element name="creative" type="impl:Creative"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCreativeResponse">
    <complexType>
     <sequence>
      <element name="addCreativeReturn" type="impl:Creative"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCreativeList">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="creatives" type="impl:Creative"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCreativeListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="addCreativeListReturn" type="impl:Creative"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCreativeStats">
    <complexType>
     <sequence>
      <element name="adGroupId" type="xsd:int"/>
      <element maxOccurs="unbounded" name="creativeIds" type="xsd:int"/>
      <element name="startDay" type="xsd:date"/>
      <element name="endDay" type="xsd:date"/>
      <element name="inPST" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCreativeStatsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCreativeStatsReturn" type="impl:StatsRecord"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="StatsRecord">
    <sequence>
     <element name="averagePosition" type="xsd:double"/>
     <element name="clicks" type="xsd:long"/>
     <element name="conversionRate" type="xsd:double"/>
     <element name="conversions" type="xsd:long"/>
     <element name="cost" type="xsd:long"/>
     <element name="id" type="xsd:long"/>
     <element name="impressions" type="xsd:long"/>
    </sequence>
   </complexType>
    <element name="updateCreatives">
      <complexType>
        <sequence>
          <element maxOccurs="unbounded" name="creative" type="impl:Creative"/>
        </sequence>
      </complexType>
    </element>
    <element name="updateCreativesResponse">
      <complexType/>
    </element>
  </schema>
 </wsdl:types>

<wsdl:message name="token">
  <wsdl:part element="impl:token" name="token"/>
</wsdl:message>
<wsdl:message name="applicationToken">
  <wsdl:part element="impl:applicationToken" name="applicationToken"/>
</wsdl:message>
<wsdl:message name="developerToken">
  <wsdl:part element="impl:developerToken" name="developerToken"/>
</wsdl:message><wsdl:message name="useragent">
  <wsdl:part element="impl:useragent" name="useragent"/>
</wsdl:message><wsdl:message name="password">
  <wsdl:part element="impl:password" name="password"/>
</wsdl:message><wsdl:message name="email">
  <wsdl:part element="impl:email" name="email"/>
</wsdl:message><wsdl:message name="clientEmail">
  <wsdl:part element="impl:clientEmail" name="clientEmail"/>
</wsdl:message><wsdl:message name="clientCustomerId">
  <wsdl:part element="impl:clientCustomerId" name="clientCustomerId"/>
</wsdl:message><wsdl:message name="responseTime">
  <wsdl:part element="impl:responseTime" name="responseTime"/>
</wsdl:message><wsdl:message name="operations">
  <wsdl:part element="impl:operations" name="operations"/>
</wsdl:message><wsdl:message name="units">
  <wsdl:part element="impl:units" name="units"/>
</wsdl:message><wsdl:message name="requestId">
  <wsdl:part element="impl:requestId" name="requestId"/>
</wsdl:message>

   <wsdl:message name="getCreativeResponse">

      <wsdl:part element="impl:getCreativeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addCreativeListResponse">

      <wsdl:part element="impl:addCreativeListResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addCreativeListRequest">

      <wsdl:part element="impl:addCreativeList" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCreativeStatsRequest">

      <wsdl:part element="impl:getCreativeStats" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCreativeStatsResponse">

      <wsdl:part element="impl:getCreativeStatsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getActiveCreativesResponse">

      <wsdl:part element="impl:getActiveCreativesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ApiException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="addCreativeResponse">

      <wsdl:part element="impl:addCreativeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAllCreativesRequest">

      <wsdl:part element="impl:getAllCreatives" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCreativeRequest">

      <wsdl:part element="impl:getCreative" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getActiveCreativesRequest">

      <wsdl:part element="impl:getActiveCreatives" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAllCreativesResponse">

      <wsdl:part element="impl:getAllCreativesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addCreativeRequest">

      <wsdl:part element="impl:addCreative" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateCreativesRequest">

      <wsdl:part element="impl:updateCreatives" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateCreativesResponse">

      <wsdl:part element="impl:updateCreativesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="CreativeService">

      <wsdl:operation name="getAllCreatives">

         <wsdl:input message="impl:getAllCreativesRequest" name="getAllCreativesRequest"/>

         <wsdl:output message="impl:getAllCreativesResponse" name="getAllCreativesResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="getActiveCreatives">

         <wsdl:input message="impl:getActiveCreativesRequest" name="getActiveCreativesRequest"/>

         <wsdl:output message="impl:getActiveCreativesResponse" name="getActiveCreativesResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="getCreative">

         <wsdl:input message="impl:getCreativeRequest" name="getCreativeRequest"/>

         <wsdl:output message="impl:getCreativeResponse" name="getCreativeResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="addCreative">

         <wsdl:input message="impl:addCreativeRequest" name="addCreativeRequest"/>

         <wsdl:output message="impl:addCreativeResponse" name="addCreativeResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="addCreativeList">

         <wsdl:input message="impl:addCreativeListRequest" name="addCreativeListRequest"/>

         <wsdl:output message="impl:addCreativeListResponse" name="addCreativeListResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>

      <wsdl:operation name="getCreativeStats">

         <wsdl:input message="impl:getCreativeStatsRequest" name="getCreativeStatsRequest"/>

         <wsdl:output message="impl:getCreativeStatsResponse" name="getCreativeStatsResponse"/>

         <wsdl:fault message="impl:ApiException" name="ApiException"/>

      </wsdl:operation>


     <wsdl:operation name="updateCreatives">
       <wsdl:input message="impl:updateCreativesRequest" name="updateCreativesRequest"/>
       <wsdl:output message="impl:updateCreativesResponse" name="updateCreativesResponse"/>
       <wsdl:fault message="impl:ApiException" name="ApiException"/>
     </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CreativeServiceSoapBinding" type="impl:CreativeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllCreatives">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCreativesRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCreativesResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getActiveCreatives">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getActiveCreativesRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getActiveCreativesResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCreative">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCreativeRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCreativeResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addCreative">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCreativeRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCreativeResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addCreativeList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCreativeListRequest"><wsdlsoap:header message="impl:email" part="email" use="literal"/><wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/><wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/><wsdlsoap:header message="impl:password" part="password" use="literal"/><wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/><wsdlsoap:header message="impl:token" part="token" use="literal"/><wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/><wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCreativeListResponse">
         
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCreativeStats">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCreativeStatsRequest">

            <wsdlsoap:header message="impl:email" part="email" use="literal"/>
            <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
            <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
            <wsdlsoap:header message="impl:password" part="password" use="literal"/>
            <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
            <wsdlsoap:header message="impl:token" part="token" use="literal"/>
            <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
            <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCreativeStatsResponse">
            <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
            <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
            <wsdlsoap:header message="impl:units" part="units" use="literal"/>
            <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ApiException">

            <wsdlsoap:fault name="ApiException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

     <wsdl:operation name="updateCreatives">

      <wsdlsoap:operation soapAction=""/>

        <wsdl:input name="updateCreativesRequest">
          <wsdlsoap:header message="impl:email" part="email" use="literal"/>
          <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
          <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>          
          <wsdlsoap:header message="impl:password" part="password" use="literal"/>
          <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
          <wsdlsoap:header message="impl:token" part="token" use="literal"/>
          <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
          <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
          <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>
        </wsdl:input>

        <wsdl:output name="updateCreativesResponse">
          <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
          <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
          <wsdlsoap:header message="impl:units" part="units" use="literal"/>
          <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
          <wsdlsoap:body namespace="https://adwords.google.com/api/adwords/v7" use="literal"/>
        </wsdl:output>

        <wsdl:fault name="ApiException">
          <wsdlsoap:fault name="ApiException" use="literal"/>
        </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CreativeServiceService">

      <wsdl:port binding="impl:CreativeServiceSoapBinding" name="CreativeService">

         <wsdlsoap:address location="https://adwords.google.com/api/adwords/v7/CreativeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
