trunk/test/wsdl/InfoService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:api="https://adwords.google.com/api/adwords/v7"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"                  
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"                  
                  targetNamespace="https://adwords.google.com/api/adwords/v7">
  <!-- Types -->
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://adwords.google.com/api/adwords/v7"
            elementFormDefault="qualified">

      <!-- ApiException -->
      <complexType name="ApiException">
        <sequence>
          <element name="code" type="int"/>
          <element name="internal" type="boolean"/>
          <element name="message" nillable="true" type="string"/>
          <element name="trigger" nillable="true" type="string"/>
          <element name="errors" nillable="true" maxOccurs="unbounded" type="api:ApiError"/>
        </sequence>
      </complexType>

      <complexType name="ApiError">
        <sequence>
          <element name="index" type="int"/>
          <element name="field" type="string" minOccurs="0" />
          <element name="textIndex" type="int" minOccurs="0" />
          <element name="textLength" type="int" minOccurs="0" />
          <element name="trigger" type="string" minOccurs="0" />
          <element name="code" type="int"/>
          <element name="isExemptable" type="boolean"/>
          <element name="detail" type="string"/>
        </sequence>
      </complexType>
            
      <!-- Custom header elements -->
      <element name="fault" type="api:ApiException"/>

      <!-- SOAP Headers -->
      <element name="email">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      <element name="clientEmail">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      <element name="clientCustomerId">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      <element name="password">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      <element name="useragent">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      <element name="token">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      <element name="applicationToken">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      <element name="developerToken">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      <element name="responseTime">
        <simpleType>
          <restriction base="long"/>
        </simpleType>
      </element>
      <element name="operations">
        <simpleType>
          <restriction base="long"/>
        </simpleType>
      </element>      
      <element name="units">
        <simpleType>
          <restriction base="long"/>
        </simpleType>
      </element>
      <element name="requestId">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>

      <complexType name="ClientUsageRecord">
        <sequence>
          <element name="clientEmail" type="string"/>
          <element name="quotaUnits" type="long"/>
        </sequence>
      </complexType>

      <!-- Message param/return elements -->
      <element name="getOperationCount">
        <complexType>
          <sequence>
            <element name="startDate" type="date"/>
            <element name="endDate" type="date"/>
          </sequence>
        </complexType>
      </element>
      <element name="getOperationCountResponse">
        <complexType>
          <sequence>
            <element name="getOperationCountReturn" type="long"/>
          </sequence>
        </complexType>
      </element>

      <element name="getOperationsQuotaThisMonth">
        <complexType/>
      </element>      
      <element name="getOperationsQuotaThisMonthResponse">
        <complexType>
          <sequence>
            <element name="getOperationsQuotaThisMonthReturn" type="long"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="getUsageQuotaThisMonth">
        <complexType/>
      </element>      
      <element name="getUsageQuotaThisMonthResponse">
        <complexType>
          <sequence>
            <element name="getUsageQuotaThisMonthReturn" type="long"/>
          </sequence>
        </complexType>
      </element>

      <element name="getFreeUsageQuotaThisMonth">
        <complexType/>
      </element>      
      <element name="getFreeUsageQuotaThisMonthResponse">
        <complexType>
          <sequence>
            <element name="getFreeUsageQuotaThisMonthReturn" type="long"/>
          </sequence>
        </complexType>
      </element>

      <element name="getMethodCost">
        <complexType>
          <sequence>
            <element name="service" type="string"/>
            <element name="method" type="string"/>
            <element name="date" type="date"/>
          </sequence>
        </complexType>
      </element>      
      <element name="getMethodCostResponse">
        <complexType>
          <sequence>
            <element name="getMethodCostReturn" type="int"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="getUnitCount">
        <complexType>
          <sequence>
            <element name="startDate" type="date"/>
            <element name="endDate" type="date"/>
          </sequence>
        </complexType>
      </element>      
      <element name="getUnitCountResponse">
        <complexType>
          <sequence>
            <element name="getUnitCountReturn" type="long"/>
          </sequence>
        </complexType>
      </element>

      <element name="getUnitCountForMethod">
        <complexType>
          <sequence>
            <element name="service" type="string"/>
            <element name="method" type="string"/>
            <element name="startDate" type="date"/>
            <element name="endDate" type="date"/>
          </sequence>
        </complexType>
      </element>      
      <element name="getUnitCountForMethodResponse">
        <complexType>
          <sequence>
            <element name="getUnitCountForMethodReturn" type="long"/>
          </sequence>
        </complexType>
      </element>

      <element name="getUnitCountForClients">
        <complexType>
          <sequence>
            <element name="clientEmails" type="string" minOccurs="0" maxOccurs="unbounded"/>
            <element name="startDate" type="date"/>
            <element name="endDate" type="date"/>
          </sequence>
        </complexType>
      </element>      
      <element name="getUnitCountForClientsResponse">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="getUnitCountForClientsReturn" type="api:ClientUsageRecord"/>
          </sequence>
        </complexType>
      </element>
  
    </schema>
  </wsdl:types>
  
  <!--
    Messages
  -->  
  <wsdl:message name="ApiException">
    <wsdl:part name="fault" element="api:fault"/>
  </wsdl:message>

  <!-- SOAP header messages -->
  <wsdl:message name="email">
    <wsdl:part name="email" element="api:email"/>
  </wsdl:message>
  <wsdl:message name="clientEmail">
    <wsdl:part name="clientEmail" element="api:clientEmail"/>
  </wsdl:message>
  <wsdl:message name="clientCustomerId">
    <wsdl:part name="clientCustomerId" element="api:clientCustomerId"/>
  </wsdl:message>
  <wsdl:message name="password">
    <wsdl:part name="password" element="api:password"/>
  </wsdl:message>
  <wsdl:message name="useragent">
    <wsdl:part name="useragent" element="api:useragent"/>
  </wsdl:message>
  <wsdl:message name="token">
    <wsdl:part name="token" element="api:token"/>
  </wsdl:message>
  <wsdl:message name="applicationToken">
    <wsdl:part name="applicationToken" element="api:applicationToken"/>
  </wsdl:message>
  <wsdl:message name="developerToken">
    <wsdl:part name="developerToken" element="api:developerToken"/>
  </wsdl:message>
  <wsdl:message name="responseTime">
    <wsdl:part name="responseTime" element="api:responseTime"/>
  </wsdl:message>
  <wsdl:message name="operations">
    <wsdl:part name="operations" element="api:operations"/>
  </wsdl:message>
  <wsdl:message name="units">
    <wsdl:part name="units" element="api:units"/>
  </wsdl:message>
  <wsdl:message name="requestId">
    <wsdl:part name="requestId" element="api:requestId"/>
  </wsdl:message>

  <wsdl:message name="getOperationCountRequest">
    <wsdl:part name="parameters" element="api:getOperationCount"/>
  </wsdl:message>
  <wsdl:message name="getOperationCountResponse">
    <wsdl:part name="parameters"
               element="api:getOperationCountResponse"/>
  </wsdl:message>
  
  <wsdl:message name="getOperationsQuotaThisMonthRequest">
    <wsdl:part name="parameters" element="api:getOperationsQuotaThisMonth"/>
  </wsdl:message>
  <wsdl:message name="getOperationsQuotaThisMonthResponse">
    <wsdl:part name="parameters" element="api:getOperationsQuotaThisMonthResponse"/>
  </wsdl:message>

  <wsdl:message name="getUsageQuotaThisMonthRequest">
    <wsdl:part name="parameters" element="api:getUsageQuotaThisMonth"/>
  </wsdl:message>
  <wsdl:message name="getUsageQuotaThisMonthResponse">
    <wsdl:part name="parameters" element="api:getUsageQuotaThisMonthResponse"/>
  </wsdl:message>

  <wsdl:message name="getFreeUsageQuotaThisMonthRequest">
    <wsdl:part name="parameters" element="api:getFreeUsageQuotaThisMonth"/>
  </wsdl:message>
  <wsdl:message name="getFreeUsageQuotaThisMonthResponse">
    <wsdl:part name="parameters" element="api:getFreeUsageQuotaThisMonthResponse"/>
  </wsdl:message>

  <wsdl:message name="getMethodCostRequest">
    <wsdl:part name="parameters" element="api:getMethodCost"/>
  </wsdl:message>
  <wsdl:message name="getMethodCostResponse">
    <wsdl:part name="parameters" element="api:getMethodCostResponse"/>
  </wsdl:message>

  <wsdl:message name="getUnitCountRequest">
    <wsdl:part name="parameters" element="api:getUnitCount"/>
  </wsdl:message>
  <wsdl:message name="getUnitCountResponse">
    <wsdl:part name="parameters" element="api:getUnitCountResponse"/>
  </wsdl:message>
  
  <wsdl:message name="getUnitCountForMethodRequest">
    <wsdl:part name="parameters" element="api:getUnitCountForMethod"/>
  </wsdl:message>
  <wsdl:message name="getUnitCountForMethodResponse">
    <wsdl:part name="parameters" element="api:getUnitCountForMethodResponse"/>
  </wsdl:message>

  <wsdl:message name="getUnitCountForClientsRequest">
    <wsdl:part name="parameters" element="api:getUnitCountForClients"/>
  </wsdl:message>
  <wsdl:message name="getUnitCountForClientsResponse">
    <wsdl:part name="parameters" element="api:getUnitCountForClientsResponse"/>
  </wsdl:message>

  <!-- InfoService public API -->
  <wsdl:portType name="InfoServiceInterface">

    <wsdl:operation name="getOperationCount">
      <wsdl:input message="api:getOperationCountRequest"
                  name="getOperationCountRequest"/>
      <wsdl:output message="api:getOperationCountResponse"
                   name="getOperationCountResponse"/>
      <wsdl:fault message="api:ApiException"
                  name="ApiException"/>
    </wsdl:operation>
    
    <wsdl:operation name="getOperationsQuotaThisMonth">
      <wsdl:input message="api:getOperationsQuotaThisMonthRequest"
                  name="getOperationsQuotaThisMonthRequest"/>
      <wsdl:output message="api:getOperationsQuotaThisMonthResponse"
                   name="getOperationsQuotaThisMonthResponse"/>
      <wsdl:fault message="api:ApiException" name="ApiException"/>
    </wsdl:operation>
    
    <wsdl:operation name="getUsageQuotaThisMonth">
      <wsdl:input message="api:getUsageQuotaThisMonthRequest"
                  name="getUsageQuotaThisMonthRequest"/>
      <wsdl:output message="api:getUsageQuotaThisMonthResponse"
                   name="getUsageQuotaThisMonthResponse"/>
      <wsdl:fault message="api:ApiException" name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getFreeUsageQuotaThisMonth">
      <wsdl:input message="api:getFreeUsageQuotaThisMonthRequest"
                  name="getFreeUsageQuotaThisMonthRequest"/>
      <wsdl:output message="api:getFreeUsageQuotaThisMonthResponse"
                   name="getFreeUsageQuotaThisMonthResponse"/>
      <wsdl:fault message="api:ApiException" name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getMethodCost">
      <wsdl:input message="api:getMethodCostRequest"
                  name="getMethodCostRequest"/>
      <wsdl:output message="api:getMethodCostResponse"
                   name="getMethodCostResponse"/>
      <wsdl:fault message="api:ApiException" name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getUnitCount">
      <wsdl:input message="api:getUnitCountRequest"
                  name="getUnitCountRequest"/>
      <wsdl:output message="api:getUnitCountResponse"
                   name="getUnitCountResponse"/>
      <wsdl:fault message="api:ApiException" name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getUnitCountForMethod">
      <wsdl:input message="api:getUnitCountForMethodRequest"
                  name="getUnitCountForMethodRequest"/>
      <wsdl:output message="api:getUnitCountForMethodResponse"
                   name="getUnitCountForMethodResponse"/>
      <wsdl:fault message="api:ApiException" name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getUnitCountForClients">
      <wsdl:input message="api:getUnitCountForClientsRequest"
                  name="getUnitCountForClientsRequest"/>
      <wsdl:output message="api:getUnitCountForClientsResponse"
                   name="getUnitCountForClientsResponse"/>
      <wsdl:fault message="api:ApiException" name="ApiException"/>
    </wsdl:operation>

  </wsdl:portType>
  
  <!-- InfoService public API implementation -->
  <wsdl:binding name="InfoServiceSoapBinding" type="api:InfoServiceInterface">
    <wsdlsoap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="getOperationCount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOperationCountRequest">
        <wsdlsoap:header message="api:email" part="email"
                         use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail"
                         use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId"
                         use="literal"/>
        <wsdlsoap:header message="api:password" part="password"
                         use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent"
                         use="literal"/>
        <wsdlsoap:header message="api:token" part="token"
                         use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken"
                         use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOperationCountResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime"
                         use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations"
                         use="literal"/>
        <wsdlsoap:header message="api:units" part="units"
                         use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
    <wsdl:operation name="getOperationsQuotaThisMonth">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOperationsQuotaThisMonthRequest">
        <wsdlsoap:header message="api:email" part="email"
                         use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail"
                         use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId"
                         use="literal"/>
        <wsdlsoap:header message="api:password" part="password"
                         use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent"
                         use="literal"/>
        <wsdlsoap:header message="api:token" part="token"
                         use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken"
                         use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOperationsQuotaThisMonthResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime"
                         use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations"
                         use="literal"/>
        <wsdlsoap:header message="api:units" part="units"
                         use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getUsageQuotaThisMonth">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUsageQuotaThisMonthRequest">
        <wsdlsoap:header message="api:email" part="email"
                         use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail"
                         use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId"
                         use="literal"/>
        <wsdlsoap:header message="api:password" part="password"
                         use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent"
                         use="literal"/>
        <wsdlsoap:header message="api:token" part="token"
                         use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken"
                         use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUsageQuotaThisMonthResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime"
                         use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations"
                         use="literal"/>
        <wsdlsoap:header message="api:units" part="units"
                         use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
    <wsdl:operation name="getFreeUsageQuotaThisMonth">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getFreeUsageQuotaThisMonthRequest">
        <wsdlsoap:header message="api:email" part="email"
                         use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail"
                         use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId"
                         use="literal"/>
        <wsdlsoap:header message="api:password" part="password"
                         use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent"
                         use="literal"/>
        <wsdlsoap:header message="api:token" part="token"
                         use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken"
                         use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFreeUsageQuotaThisMonthResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime"
                         use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations"
                         use="literal"/>
        <wsdlsoap:header message="api:units" part="units"
                         use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
    <wsdl:operation name="getMethodCost">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMethodCostRequest">
        <wsdlsoap:header message="api:email" part="email"
                         use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail"
                         use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId"
                         use="literal"/>
        <wsdlsoap:header message="api:password" part="password"
                         use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent"
                         use="literal"/>
        <wsdlsoap:header message="api:token" part="token"
                         use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken"
                         use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMethodCostResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime"
                         use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations"
                         use="literal"/>
        <wsdlsoap:header message="api:units" part="units"
                         use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getUnitCount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUnitCountRequest">
        <wsdlsoap:header message="api:email" part="email"
                         use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail"
                         use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId"
                         use="literal"/>
        <wsdlsoap:header message="api:password" part="password"
                         use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent"
                         use="literal"/>
        <wsdlsoap:header message="api:token" part="token"
                         use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken"
                         use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUnitCountResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime"
                         use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations"
                         use="literal"/>
        <wsdlsoap:header message="api:units" part="units"
                         use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
    <wsdl:operation name="getUnitCountForMethod">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUnitCountForMethodRequest">
        <wsdlsoap:header message="api:email" part="email"
                         use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail"
                         use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId"
                         use="literal"/>
        <wsdlsoap:header message="api:password" part="password"
                         use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent"
                         use="literal"/>
        <wsdlsoap:header message="api:token" part="token"
                         use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken"
                         use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUnitCountForMethodResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime"
                         use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations"
                         use="literal"/>
        <wsdlsoap:header message="api:units" part="units"
                         use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getUnitCountForClients">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUnitCountForClientsRequest">
        <wsdlsoap:header message="api:email" part="email"
                         use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail"
                         use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId"
                         use="literal"/>
        <wsdlsoap:header message="api:password" part="password"
                         use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent"
                         use="literal"/>
        <wsdlsoap:header message="api:token" part="token"
                         use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken"
                         use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUnitCountForClientsResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime"
                         use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations"
                         use="literal"/>
        <wsdlsoap:header message="api:units" part="units"
                         use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId"
                         use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>
  
  <!-- InfoService definition -->
  <wsdl:service name="InfoService">
    <wsdl:port binding="api:InfoServiceSoapBinding" name="InfoService">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/v7/InfoService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
