trunk/test/wsdl/ServiceLogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Salesforce.com Super User API verion 9.0

Copyright 2006 Salesforce.com, inc. All Rights Reserved
-->
<definitions targetNamespace="http://soap.sforce.com/2006/10/servicelogin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/2006/10/servicelogin">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/2006/10/servicelogin">
   <xsd:complexType name="ServiceLoginResult">
    <xsd:sequence>
     <xsd:element name="serverUrl" type="xsd:string"/>
     <xsd:element name="sessionId" type="xsd:string"/>
     <xsd:element name="userId" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="actAsUser">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="targetOrgId" type="tns:ID"/>
      <xsd:element name="targetUserId" type="tns:ID"/>
      <xsd:element name="sharedKey" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="actAsUserResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:ServiceLoginResult"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="getApiUrlForOrg">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="useSecure" type="xsd:boolean"/>
      <xsd:element name="orgId" type="tns:ID"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="getApiUrlForOrgResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Operation Messages -->
 <message name="actAsUserRequest">
  <part element="tns:actAsUser" name="parameters"/>
 </message>
 <message name="actAsUserResponse">
  <part element="tns:actAsUserResponse" name="parameters"/>
 </message>
 <message name="getApiUrlForOrgRequest">
  <part element="tns:getApiUrlForOrg" name="parameters"/>
 </message>
 <message name="getApiUrlForOrgResponse">
  <part element="tns:getApiUrlForOrgResponse" name="parameters"/>
 </message>
 <portType name="SuperUserPortType">
  <operation name="actAsUser">
   <documentation>Get a session id for a specified user.</documentation>
   <input message="tns:actAsUserRequest"/>
   <output message="tns:actAsUserResponse"/>
  </operation>
  <operation name="getApiUrlForOrg">
   <documentation>Get the api url for the correct instance for the org.</documentation>
   <input message="tns:getApiUrlForOrgRequest"/>
   <output message="tns:getApiUrlForOrgResponse"/>
  </operation>
 </portType>
 <binding name="SuperUserBinding" type="tns:SuperUserPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="actAsUser">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getApiUrlForOrg">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="SuperUserService">
  <documentation>Internal API for service login</documentation>
  <port binding="tns:SuperUserBinding" name="SuperUser">
   <soap:address location="http://localhost:80/sfdc/Soap/serviceLogin/u/9.0"/>
  </port>
 </service>
</definitions>