trunk/test/wsdl/TrafficEstimatorService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:api="https://adwords.google.com/api/adwords/v7" 
             xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             targetNamespace="https://adwords.google.com/api/adwords/v7">

  <!-- Types -->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="https://adwords.google.com/api/adwords/v7" 
            elementFormDefault="qualified">

      <!-- ApiException -->
      <complexType name="ApiException">
        <sequence>
          <element name="code" type="xsd:int"/>
          <element name="internal" type="xsd:boolean"/>
          <element name="message" nillable="true" type="xsd:string"/>
          <element name="trigger" nillable="true" type="xsd:string"/>
          <element name="errors" nillable="true" maxOccurs="unbounded" type="api:ApiError"/>
        </sequence>
      </complexType>

      <complexType name="ApiError">
        <sequence>
          <element name="index" type="xsd:int"/>
          <element name="field" type="xsd:string" minOccurs="0" />
          <element name="textIndex" type="xsd:int" minOccurs="0" />
          <element name="textLength" type="xsd:int" minOccurs="0" />
          <element name="trigger" type="xsd:string" minOccurs="0" />
          <element name="code" type="xsd:int"/>
          <element name="isExemptable" type="xsd:boolean"/>
          <element name="detail" type="xsd:string"/>
        </sequence>
      </complexType>

      <!-- Campaign Request -->
      <complexType name="CampaignRequest">
         <sequence>
           <element name="adGroupRequests" minOccurs="1" maxOccurs="unbounded" type="api:AdGroupRequest"/>
           <element name="geoTargeting" minOccurs="0" maxOccurs="1" type="api:GeoTarget"/>  
           <element name="id" minOccurs="0" maxOccurs="1" type="int"/>  
           <element name="languageTargeting" nillable="true" minOccurs="0" maxOccurs="1" type="api:LanguageTarget"/>  
           <element name="networkTargeting" minOccurs="0" maxOccurs="1" type="api:NetworkTarget"/>
         </sequence>
      </complexType>

      <!-- AdGroupRequest -->
      <complexType name="AdGroupRequest">
        <sequence>
          <element name="id" minOccurs="0" nillable="true" type="int"/>
          <element name="keywordRequests" minOccurs="1" maxOccurs="unbounded" type="api:KeywordRequest"/>
          <element name="maxCpc" minOccurs="0" maxOccurs="1" type="long"/>
        </sequence>
      </complexType>

      <!-- KeywordRequest -->
      <complexType name="KeywordRequest">
        <sequence>
          <element name="id" minOccurs="0" maxOccurs="1" type="long"/>       
          <element name="maxCpc" minOccurs="0" maxOccurs="1" type="long"/>
          <element name="negative" minOccurs="0" maxOccurs="1" type="boolean"/>     
          <element name="text" minOccurs="0" maxOccurs="1" type="string"/>  
          <element name="type" minOccurs="0" maxOccurs="1" type="api:KeywordType"/>
        </sequence>
      </complexType>

      <!-- GeoTarget -->
      <complexType name="GeoTarget">
        <sequence>
	  <element name="cities" minOccurs="0" maxOccurs="unbounded" type="string"/>
          <element name="countries" minOccurs="0" maxOccurs="unbounded" type="string"/>
          <element name="metros" minOccurs="0" maxOccurs="unbounded" type="string"/>
          <element name="regions" minOccurs="0" maxOccurs="unbounded" type="string"/>
        </sequence>
      </complexType>

      <!-- LanguageTarget -->
      <complexType name="LanguageTarget">
        <sequence>
          <element name="languages" minOccurs="0" maxOccurs="unbounded" type="string"/>
        </sequence>
      </complexType>

      <!-- Network Type -->
      <simpleType name="NetworkType">
        <restriction base="string">
          <enumeration value="GoogleSearch"/>
          <enumeration value="SearchNetwork"/>
          <enumeration value="ContentNetwork"/>
        </restriction>
      </simpleType>

      <!-- Network Target -->
      <complexType name="NetworkTarget">
        <sequence>
          <element name="networkTypes" minOccurs="0" maxOccurs="unbounded" type="api:NetworkType"/>
        </sequence>
      </complexType>

      <!-- Keyword Type  -->
      <simpleType name="KeywordType">
        <restriction base="string">
          <enumeration value="Broad"/>
          <enumeration value="Phrase"/>
          <enumeration value="Exact"/>
        </restriction>
      </simpleType>
      
      <!-- Campaign Estimate -->
      <complexType name="CampaignEstimate">
        <sequence>
          <element name="adGroupEstimates" minOccurs="1" maxOccurs="unbounded" type="api:AdGroupEstimate"/>
          <element name="id" minOccurs="0" maxOccurs="1" type="int"/>     
        </sequence>
      </complexType>

      <!-- AdGroup Estimate -->
      <complexType name="AdGroupEstimate">
        <sequence>
          <element name="id" minOccurs="0" maxOccurs="1" type="int"/>
          <element name="keywordEstimates" minOccurs="1" maxOccurs="unbounded" type="api:KeywordEstimate"/>   
        </sequence>
      </complexType>

      <!-- Keyword Estimate -->
      <complexType name="KeywordEstimate">
        <sequence>
          <element name="lowerAvgPosition" type="float"/>
          <element name="upperAvgPosition" type="float"/>
          <element name="lowerClicksPerDay" type="float"/>
          <element name="upperClicksPerDay" type="float"/>
          <element name="lowerCpc" type="long"/>
          <element name="upperCpc" type="long"/>
          <element name="id" minOccurs="0" maxOccurs="1" type="long"/>
        </sequence>
      </complexType>
      

      <!-- Campaign Traffic Estimate Request -->
      <element name="estimateCampaignList">
        <complexType>
          <sequence>
            <element name="campaignRequests" minOccurs="1" maxOccurs="unbounded" type="api:CampaignRequest"/>   
          </sequence>
        </complexType>
      </element>

      <!-- Campaign Traffic Estimate Response -->
      <element name="estimateCampaignListResponse">
        <complexType>
          <sequence>
            <element name="estimateCampaignListReturn" minOccurs="1" maxOccurs="unbounded" type="api:CampaignEstimate"/>
          </sequence>
        </complexType>  
      </element>

      <!-- AdGroup Traffic Estimate Request -->
      <element name="estimateAdGroupList">
        <complexType>
          <sequence>
            <element name="adGroupRequests" minOccurs="1" maxOccurs="unbounded" type="api:AdGroupRequest"/>     
          </sequence>
        </complexType>
      </element>

      <!-- AdGroup Traffic Estimate Response -->
      <element name="estimateAdGroupListResponse">
        <complexType>
          <sequence>
            <element name="estimateAdGroupListReturn" minOccurs="1" maxOccurs="unbounded" type="api:AdGroupEstimate"/>
          </sequence>
        </complexType>  
      </element>


      <!-- Keyword Traffic Estimate Request -->
      <element name="estimateKeywordList">
        <complexType>
          <sequence>
            <element name="keywordRequests" minOccurs="1" maxOccurs="unbounded" type="api:KeywordRequest"/>     
          </sequence>
        </complexType>
      </element>

      <!-- Keyword Traffic Estimate Response -->
      <element name="estimateKeywordListResponse">
        <complexType>
          <sequence>
            <element name="estimateKeywordListReturn" minOccurs="1" maxOccurs="unbounded" type="api:KeywordEstimate"/>
          </sequence>
        </complexType>  
      </element>
           
      <element name="fault" type="api:ApiException"/>


      <!-- SOAP Headers -->

      <element name="email">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>

      <element name="clientEmail">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      
      <element name="clientCustomerId">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>

      <element name="password">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>

      <element name="useragent">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      
      <element name="token">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>

      <element name="applicationToken">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>

      <element name="developerToken">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>

      <element name="responseTime">
        <simpleType>
          <restriction base="long"/>
        </simpleType>
      </element>
      
      <element name="operations">
        <simpleType>
          <restriction base="long"/>
        </simpleType>
      </element>

      <element name="units">
        <simpleType>
          <restriction base="long"/>
        </simpleType>
      </element>

      <element name="requestId">
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>

    </schema>
  </types>

  <!-- Messages -->
  <message name="email">
    <part name="email" element="api:email"/>
  </message>

  <message name="clientEmail">
    <part name="clientEmail" element="api:clientEmail"/>
  </message>
  
  <message name="clientCustomerId">
    <part name="clientCustomerId" element="api:clientCustomerId"/>
  </message>

  <message name="password">
    <part name="password" element="api:password"/>
  </message>

  <message name="useragent">
    <part name="useragent" element="api:useragent"/>
  </message>
  
  <message name="token">
    <part name="token" element="api:token"/>
  </message>

  <message name="applicationToken">
    <part name="applicationToken" element="api:applicationToken"/>
  </message>

  <message name="developerToken">
    <part name="developerToken" element="api:developerToken"/>
  </message>

  <message name="responseTime">
    <part name="responseTime" element="api:responseTime"/>
  </message>
  
  <message name="operations">
    <part name="operations" element="api:operations"/>
  </message>

  <message name="units">
    <part name="units" element="api:units"/>
  </message>

  <message name="requestId">
    <part name="requestId" element="api:requestId"/>
  </message>

  <message name="estimateCampaignListRequest">
    <part name="parameters" element="api:estimateCampaignList"/>
  </message>

  <message name="estimateCampaignListResponse">
    <part name="parameters" element="api:estimateCampaignListResponse"/>
  </message>

  <message name="estimateAdGroupListRequest">
    <part name="parameters" element="api:estimateAdGroupList"/>
  </message>

  <message name="estimateAdGroupListResponse">
    <part name="parameters" element="api:estimateAdGroupListResponse"/>
  </message>

  <message name="estimateKeywordListRequest">
    <part name="parameters" element="api:estimateKeywordList"/>
  </message>

  <message name="estimateKeywordListResponse">
    <part name="parameters" element="api:estimateKeywordListResponse"/>
  </message>

  <message name="ApiException">
    <part name="fault" element="api:fault"/>
  </message>

  <!-- TrafficEstimatorService public API -->
  <portType name="TrafficEstimatorInterface">

    <operation name="estimateCampaignList">
      <input message="api:estimateCampaignListRequest" name="estimateCampaignListRequest"/>
      <output message="api:estimateCampaignListResponse" name="estimateCampaignListResponse"/>
      <fault message="api:ApiException" name="ApiException"/>
    </operation>

    <operation name="estimateAdGroupList">
      <input message="api:estimateAdGroupListRequest" name="estimateAdGroupListRequest"/>
      <output message="api:estimateAdGroupListResponse" name="estimateAdGroupListResponse"/>
      <fault message="api:ApiException" name="ApiException"/>
    </operation>

    <operation name="estimateKeywordList">
      <input message="api:estimateKeywordListRequest" name="estimateKeywordListRequest"/>
      <output message="api:estimateKeywordListResponse" name="estimateKeywordListResponse"/>
      <fault message="api:ApiException" name="ApiException"/>
    </operation>

  </portType>

  <!-- TrafficEstimatorService public API implementation -->
  <binding name="TrafficEstimatorServiceSoapBinding" type="api:TrafficEstimatorInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="estimateCampaignList">
      <wsdlsoap:operation soapAction=""/>
      <input name="estimateCampaignListRequest">
        <wsdlsoap:header message="api:email" part="email" use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="api:password" part="password" use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="api:token" part="token" use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken" use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </input>
      <output name="estimateCampaignListResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="api:units" part="units" use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </output>
      <fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </fault>
    </operation>

    <operation name="estimateAdGroupList">
      <wsdlsoap:operation soapAction=""/>
      <input name="estimateAdGroupListRequest">
        <wsdlsoap:header message="api:email" part="email" use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="api:password" part="password" use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="api:token" part="token" use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken" use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </input>
      <output name="estimateAdGroupListResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="api:units" part="units" use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </output>
      <fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </fault>
    </operation>

    <operation name="estimateKeywordList">
      <wsdlsoap:operation soapAction=""/>
      <input name="estimateKeywordListRequest">
        <wsdlsoap:header message="api:email" part="email" use="literal"/>
        <wsdlsoap:header message="api:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="api:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="api:password" part="password" use="literal"/>
        <wsdlsoap:header message="api:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="api:token" part="token" use="literal"/>
        <wsdlsoap:header message="api:applicationToken" part="applicationToken" use="literal"/>
        <wsdlsoap:header message="api:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </input>
      <output name="estimateKeywordListResponse">
        <wsdlsoap:header message="api:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="api:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="api:units" part="units" use="literal"/>
        <wsdlsoap:header message="api:requestId" part="requestId" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </output>
      <fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </fault>
    </operation>

  </binding>

  <!-- TrafficEstimatorService definition -->
  <service name="TrafficEstimatorService">
    <port binding="api:TrafficEstimatorServiceSoapBinding" name="TrafficEstimatorService">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/v7/TrafficEstimatorService"/>
    </port>
  </service>

</definitions>
