trunk/test/wsdl/validateEmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="validateEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="maxLength" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validateEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validateEmailSoapIn">
    <wsdl:part name="parameters" element="tns:validateEmail" />
  </wsdl:message>
  <wsdl:message name="validateEmailSoapOut">
    <wsdl:part name="parameters" element="tns:validateEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="validateEmailServiceSoap">
    <wsdl:operation name="validateEmail">
      <wsdl:input message="tns:validateEmailSoapIn" />
      <wsdl:output message="tns:validateEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="validateEmailServiceSoap" type="tns:validateEmailServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="validateEmail">
      <soap:operation soapAction="http://tempuri.org/validateEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="validateEmailService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Enter email string and max length (int) allow, which returns a boolean</documentation>
    <wsdl:port name="validateEmailServiceSoap" binding="tns:validateEmailServiceSoap">
      <soap:address location="http://student.ohecampus.com/projects/group95/stud17/assignment7/validateEmail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>